/* .ant-modal-body {
  background-color: #f0f2f5;
}
.ant-modal-header {
  background-color: #f0f2f596;
}
.ant-modal-footer {
  background-color: #f0f2f596;
} */

.table-take {
  /* background-color: #f0f2f5; */
  /* background-color: white; */
}

.ant-table {
  /* min-height: 381px; */
  /* background-color: #f0f2f5; */
}
